:root {
  /* ФОН ЭЛЕМЕНТА */

  --background-color-theme-dark: rgb(235, 235, 235);
  --background-color-theme-light: rgb(255, 255, 255);
  --background-color-button-hover: rgb(120, 117, 254);
  --background-color-button-focus: rgb(218, 217, 254);
  --background-color-button-active: rgb(73, 70, 180);

  --background-color-header-line: rgb(221, 221, 221);
  --background-color-header-nav-mobile: rgb(235, 235, 235);
  --background-color-header-nav-item-focus: rgb(218, 217, 251);
  --background-color-link-button-focus: rgb(218, 217, 251);

  --background-color-card-photo: rgb(235, 235, 235);
  --background-color-card-button-focus: rgb(218, 217, 251);

  --background-color-footer: rgb(76, 88, 102);
  --background-color-footer-line: rgb(221, 221, 221);
  --background-color-footer-link: rgb(120, 117, 254);

  --stroke-color-link-button: rgb(76, 88, 102);
  --stroke-color-link-button-hover: rgb(120, 117, 254);
  --stroke-color-link-button-focus: rgb(120, 117, 254);
  --stroke-color-link-button-active: rgb(73, 70, 180);
  --stroke-color-search-button-close: rgb(76, 88, 102);
  --stroke-color-search-button-close-hover: rgb(255, 255, 255);
  --stroke-color-search-button-close-focus: rgb(76, 88, 102);
  --stroke-color-search-button-close-active: rgb(255, 255, 255);

  --fill-color-search-button-close: rgb(209, 209, 229);
  --fill-color-search-button-close-hover: rgb(122, 117, 254);
  --fill-color-search-button-close-focus: rgb(218, 217, 251);
  --fill-color-search-button-close-active: rgb(73, 77, 180);
  --fill-color-card-button: rgb(120, 117, 254);
  --fill-color-card-button-hover: rgb(73, 70, 180);
  --fill-color-card-button-focus: rgb(120, 117, 254);
  --fill-color-card-button-active: rgb(73, 70, 180);
  --fill-color-footer-icon: rgb(255, 255, 255);
  --fill-color-footer-icon-hover: rgb(218, 217, 251);
  --fill-color-footer-icon-focus: rgb(255, 255, 255);
  --fill-color-footer-icon-active: rgb(120, 117, 254);

  /* ШРИФТ-СЕМЕЙСТВО */

  --font-family-page: Roboto, sans-serif;
  --font-family-button: Roboto, sans-serif;

  --font-family-header-logo: Ubuntu, sans-serif;
  --font-family-header-nav-item: Roboto, sans-serif;
  --font-family-form-input: Roboto, sans-serif;
  --font-family-form-input-placeholder: Roboto, sans-serif;

  --font-family-cover-title: Roboto, sans-serif;
  --font-family-cover-text: Roboto, sans-serif;

  --font-family-result-list-title: Roboto, sans-serif;
  --font-family-result-list-text: Roboto, sans-serif;
  --font-family-result-title: Roboto, sans-serif;
  --font-family-result-text: Roboto, sans-serif;

  --font-family-card-title: Roboto, sans-serif;
  --font-family-card-subtitle: Roboto, sans-serif;
  --font-family-card-text: Roboto, sans-serif;
  --font-family-card-button: Roboto, sans-serif;

  --font-family-sketchbook-title: Roboto, sans-serif;
  --font-family-sketchbook-text: Roboto, sans-serif;

  --font-family-footer-logo: Ubuntu, sans-serif;
  --font-family-footer-signature: Roboto, sans-serif;

  /* ШРИФТ-ТОЛЩИНА */

  --font-weight-page: 400;
  --font-weight-button: 400;

  --font-weight-header-logo: 300;
  --font-weight-header-nav-item: 400;
  --font-weight-form-input: 400;
  --font-weight-form-input-placeholder: 400;

  --font-weight-cover-title: 400;
  --font-weight-cover-text: 400;

  --font-weight-result-list-title: 500;
  --font-weight-result-list-text: 400;
  --font-weight-result-title: 400;
  --font-weight-result-text: 400;

  --font-weight-card-title: 400;
  --font-weight-card-subtitle: 400;
  --font-weight-card-text: 400;
  --font-weight-card-button: 400;

  --font-weight-sketchbook-title: 400;
  --font-weight-sketchbook-text: 400;

  --font-weight-footer-logo: 300;
  --font-weight-footer-signature: 400;

  /* ШРИФТ-РАЗМЕР */

  --font-size-page: 20px;
  --font-size-page-mobile: 18px;
  --font-size-button: 20px;
  --font-size-button-mobile: 18px;

  --font-size-header-logo: 20px;
  --font-size-header-nav-item: 20px;
  --font-size-header-nav-item-mobile: 18px;
  --font-size-form-input: 20px;
  --font-size-form-input-placeholder: 20px;

  --font-size-cover-title: 60px;
  --font-size-cover-title-big-tablet: 50px;
  --font-size-cover-title-small-tablet: 38px;
  --font-size-cover-title-small-mobile: 30px;
  --font-size-cover-text: 18px;
  --font-size-cover-text-small-tablet: 16px;
  --font-size-cover-text-small-mobile: 14px;

  --font-size-result-list-title: 18px;
  --font-size-result-list-text: 18px;
  --font-size-result-list-title-small-tablet: 16px;
  --font-size-result-list-text-small-tablet: 16px;
  --font-size-result-list-title-mobile: 16px;
  --font-size-result-list-text-mobile: 16px;
  --font-size-result-title: 40px;
  --font-size-result-title-big-tablet: 30px;
  --font-size-result-text: 18px;
  --font-size-result-title-small-tablet: 24px;
  --font-size-result-text-small-tablet: 16px;
  --font-size-result-title-mobile: 24px;
  --font-size-result-text-mobile: 16px;

  --font-size-card-title: 30px;
  --font-size-card-title-tablet: 24px;
  --font-size-card-title-mobile: 24px;
  --font-size-card-subtitle: 14px;
  --font-size-card-text: 18px;
  --font-size-card-text-tablet: 16px;
  --font-size-card-text-mobile: 16px;
  --font-size-card-button: 20px;

  --font-size-sketchbook-title: 40px;
  --font-size-sketchbook-title-big-table: 30px;
  --font-size-sketchbook-title-small-table: 24px;
  --font-size-sketchbook-text: 18px;
  --font-size-sketchbook-text-small-table: 16px;

  --font-size-footer-logo: 20px;
  --font-size-footer-signature: 13px;

  /* ШРИФТ-ВЫСОТА */

  --font-height-page: 100%;
  --font-height-button: 100%;

  --font-height-header-logo: 100%;
  --font-height-header-nav-item: 100%;
  --font-height-form-input: 100%;
  --font-height-form-input-placeholder: 100%;

  --font-height-cover-title: 100%;
  --font-height-cover-text: 150%;

  --font-height-result-list-title: 150%;
  --font-height-result-list-text: 150%;
  --font-height-result-title: 100%;
  --font-height-result-text: 170%;

  --font-height-card-title: 100%;
  --font-height-card-subtitle: 100%;
  --font-height-card-text: 170%;
  --font-height-card-button: 100%;

  --font-height-sketchbook-title: 100%;
  --font-height-sketchbook-text: 170%;

  --font-height-footer-logo: 100%;
  --font-height-footer-signature: 100%;

  /* ШРИФТ-ЦВЕТ */

  --font-color-page: rgb(133, 133, 155);
  --font-color-button: rgb(120, 117, 254);
  --font-color-button-hover: rgb(255, 255, 255);
  --font-color-button-focus: rgb(120, 117, 254);
  --font-color-button-active: rgb(255, 255, 255);

  --font-color-header-logo: rgb(51, 51, 51);
  --font-color-header-nav-item: rgb(76, 88, 102);
  --font-color-header-nav-item-hover: rgb(120, 117, 254);
  --font-color-header-nav-item-focus: rgb(76, 88, 102);
  --font-color-header-nav-item-active: rgb(73, 70, 180);
  --font-color-form-input: rgb(76, 88, 102);
  --font-color-form-input-placeholder: rgb(209, 209, 229);

  --font-color-cover-title: rgb(76, 88, 102);
  --font-color-cover-text: rgb(133, 133, 155);

  --font-color-result-list-title: rgb(102, 102, 102);
  --font-color-result-list-text: rgb(133, 133, 155);
  --font-color-result-title: rgb(102, 102, 102);
  --font-color-result-text: rgb(133, 133, 155);

  --font-color-card-title: rgb(102, 102, 102);
  --font-color-card-subtitle: rgb(181, 181, 189);
  --font-color-card-text: rgb(133, 133, 155);
  --font-color-card-button: rgb(120, 117, 254);
  --font-color-card-button-hover: rgb(73, 70, 180);
  --font-color-card-button-focus: rgb(120, 117, 254);
  --font-color-card-button-active: rgb(73, 70, 180);

  --font-color-sketchbook-title: rgb(102, 102, 102);
  --font-color-sketchbook-text: rgb(133, 133, 155);

  --font-color-footer-logo: rgb(255, 255, 255);
  --font-color-footer-signature: rgb(76, 88, 102);

  /* РАМКА ЭЛЕМЕНТА */

  --border-button: 1px solid rgb(120, 117, 254);

  --border-header: 1px solid rgb(221, 221, 221);
  --border-circle: 1px solid rgb(51, 51, 51);
  --border-ellipse: 1px solid rgb(51, 51, 51);
  --border-link-form: 1px solid rgb(209, 209, 229);

  --border-result-list-item: 1px solid rgb(192, 192, 192);

  --border-partners-list-item: 1px solid rgb(196, 196, 196);

  --border-footer-circle: 1px solid rgb(255, 255, 255);
  --border-footer-ellipse: 1px solid rgb(255, 255, 255);
}
