.page {
  width: 1440px;
  height: max-content;
  font-family: var(--font-family-page);
  font-weight: var(--font-weight-page);
  font-size: var(--font-size-page);
  line-height: var(--font-height-page);
  letter-spacing: 0;
  color: var(--font-color-page);
  display: flex;
  flex-direction: column;
}

/* ПАТТЕРНЫ */

.content__theme-dark {
  background-color: var(--background-color-theme-dark);
}

.content__theme-light {
  background-color: var(--background-color-theme-light);
}

.button {
  outline: none;
  border: var(--border-button);
  width: 255px;
  height: 70px;
  background-color: transparent;
  font-family: var(--font-family-button);
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  line-height: var(--font-height-button);
  color: var(--font-color-button);
  cursor: pointer;
}

.button:hover {
  background-color: var(--background-color-button-hover);
  color: var(--font-color-button-hover);
}

.button:focus-visible {
  background-color: var(--background-color-button-focus);
  color: var(--font-color-button-focus);
}

.button:active {
  background-color: var(--background-color-button-active);
  color: var(--font-color-button-active);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* ШАПКА САЙТА */

.header {
  position: relative;
  border-bottom: var(--border-header);
  padding: 0 159px 0 165px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.header__logo #circle {
  border: var(--border-circle);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}

.header__logo #ellipse {
  border: var(--border-ellipse);
  border-radius: 11px;
  width: 32px;
  height: 17px;
}

.header__logo span {
  font-family: var(--font-family-header-logo);
  font-weight: var(--font-weight-header-logo);
  font-size: var(--font-size-header-logo);
  line-height: var(--font-height-header-logo);
  color: var(--font-color-header-logo);
  user-select: none;
}

.header-line {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: var(--background-color-header-line);
  display: none;
}

.header__menu {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 159px;
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.header__menu-button {
  border: none;
  padding: 6px;
  width: max-content;
  height: max-content;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__menu-open {
  display: none;
}

.header__menu-close {
  display: none;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link {
  font-family: var(--font-family-header-nav-item);
  font-weight: var(--font-weight-header-nav-item);
  font-size: var(--font-size-header-nav-item);
  line-height: var(--font-height-header-nav-item);
  color: var(--font-color-header-nav-item);
  text-decoration: none;
  user-select: none;
}

.header__nav-link:hover {
  color: var(--font-color-header-nav-item-hover);
}

.header__nav-link:focus-visible {
  outline: none;
  background-color: var(--background-color-header-nav-item-focus);
  color: var(--font-color-header-nav-item-focus);
}

.header__nav-link:active {
  color: var(--font-color-header-nav-item-active);
}

.header__link {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.header__link-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.link-button {
  border: none;
  width: max-content;
  height: max-content;
  background-color: transparent;
  cursor: pointer;
}

.link-button svg {
  stroke: var(--stroke-color-link-button);
}

.link-button:hover svg {
  stroke: var(--stroke-color-link-button-hover);
}

.link-button:focus-visible {
  outline: none;
  background-color: var(--background-color-link-button-focus);
}

.link-button:focus-visible svg {
  stroke: var(--stroke-color-link-button-focus);
}

.link-button:active svg {
  stroke: var(--stroke-color-link-button-active);
}

.link-form {
  position: relative;
  border: none;
  border-bottom: var(--border-link-form);
  width: 0;
  height: 100%;
  display: none;
  overflow: hidden;
  transform: translateX(-15px);
  transition: width 0.5s ease-in-out;
}

.link-form-display {
  display: block;
}

.link-form-show {
  width: 224px;
}

.form-input {
  border: none;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-form-input);
  font-weight: var(--font-weight-form-input);
  font-size: var(--font-size-form-input);
  line-height: var(--font-height-form-input);
  color: var(--font-color-form-input);
  transition: border-color 0.3s ease-in-out;
}

.form-input::placeholder {
  font-family: var(--font-family-form-input-placeholder);
  font-weight: var(--font-weight-form-input-placeholder);
  font-size: var(--font-size-form-input-placeholder);
  line-height: var(--font-height-form-input-placeholder);
  color: var(--font-color-form-input-placeholder);
}

.form-input:focus {
  outline: none;
}

.search-button-close {
  position: absolute;
  top: 5px;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-button-close-icon {
  fill: var(--fill-color-search-button-close);
  stroke: var(--stroke-color-search-button-close);
}

.search-button-close-icon circle {
  stroke-width: 0;
}

.search-button-close:hover .search-button-close-icon {
  fill: var(--fill-color-search-button-close-hover);
  stroke: var(--stroke-color-search-button-close-hover);
}

.search-button-close:focus-visible {
  outline: none;
}

.search-button-close:focus-visible .search-button-close-icon {
  fill: var(--fill-color-search-button-close-focus);
  stroke: var(--stroke-color-search-button-close-focus);
}

.search-button-close:focus-visible circle {
  stroke-width: 1;
}

.search-button-close:active .search-button-close-icon {
  fill: var(--fill-color-search-button-close-active);
  stroke: var(--stroke-color-search-button-close-active);
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА */

.main {
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С ОПИСАНИЕМ САЙТА */

.cover {
  position: relative;
  padding: 130px 830px 129px 165px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.cover-title {
  font-family: var(--font-family-cover-title);
  font-weight: var(--font-weight-cover-title);
  font-size: var(--font-size-cover-title);
  line-height: var(--font-height-cover-title);
  color: var(--font-color-cover-title);
}

.cover-text {
  font-family: var(--font-family-cover-text);
  font-weight: var(--font-weight-cover-text);
  font-size: var(--font-size-cover-text);
  line-height: var(--font-height-cover-text);
  color: var(--font-color-cover-text);
}

.cover-image {
  position: absolute;
  top: 60px;
  left: 720px;
  width: max-content;
  height: 1336px;
  object-fit: cover;
}

/* СЕКЦИЯ С РЕЗУЛЬТАТАМИ */

.result {
  padding: 90px 150px;
  width: 100%;
  height: max-content;
}

.result__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.result__list-item {
  list-style-type: none;
  border-top: var(--border-result-list-item);
  padding-top: 20px;
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.result__list-image {
  width: 175px;
  height: 132px;
}

.result__container {
  padding: 18px 0 19px;
  display: flex;
  flex-direction: column;
}

.result__container-title {
  font-family: var(--font-family-result-list-title);
  font-weight: var(--font-weight-result-list-title);
  font-size: var(--font-size-result-list-title);
  line-height: var(--font-height-result-list-title);
  color: var(--font-color-result-list-title);
}

.result__container-text {
  font-family: var(--font-family-result-list-text);
  font-weight: var(--font-weight-result-list-text);
  font-size: var(--font-size-result-list-text);
  line-height: var(--font-height-result-list-text);
  color: var(--font-color-result-list-text);
}

.result__content {
  margin-top: 74px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.result__content-image {
  width: 753px;
  height: 574px;
}

.result__content-container {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result__content-title {
  font-family: var(--font-family-result-title);
  font-weight: var(--font-weight-result-title);
  font-size: var(--font-size-result-title);
  line-height: var(--font-height-result-title);
  color: var(--font-color-result-title);
}

.result__content-text {
  max-width: 332px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result__content-text span {
  font-family: var(--font-family-result-text);
  font-weight: var(--font-weight-result-text);
  font-size: var(--font-size-result-text);
  line-height: var(--font-height-result-text);
  color: var(--font-color-result-text);
}

/* СЕКЦИЯ С КАТАЛОГОМ */

.catalog {
  padding: 90px 165px;
  width: 100%;
  height: max-content;
}

.catalog__list {
  margin-top: -5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.catalog__list-item {
  list-style-type: none;
}

.card {
  width: 255px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.card__photo {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: var(--background-color-card-photo);
  overflow: hidden;
}

.card__photo-img {
  position: absolute;
  object-fit: cover;
}

#box {
  top: 68px;
  left: 22px;
  width: 109px;
  height: 155px;
  transform: rotate(-30deg);
}

#tube {
  top: 110px;
  left: 80px;
  width: 202px;
  height: 98px;
  transform: rotate(-45deg);
}

#stretch-film {
  top: 99px;
  left: 20px;
  width: 216px;
  height: 83px;
  transform: rotate(-74deg);
}

#paper-bag {
  top: 12px;
  left: 15px;
  width: 225px;
  height: 363px;
  transform: rotate(0deg);
}

#briefcase {
  top: 52px;
  left: 46px;
  width: 216px;
  height: 178px;
  transform: rotate(-30deg);
}

#folder-with-rubber-band {
  top: 40px;
  left: 28px;
  width: 140px;
  height: 194px;
  transform: rotate(-18deg);
}

#box-white {
  top: 15px;
  left: 120px;
  width: 109px;
  height: 223px;
  transform: rotate(15deg);
}

.card-title {
  margin-top: 22px;
  font-family: var(--font-family-card-title);
  font-weight: var(--font-weight-card-title);
  font-size: var(--font-size-card-title);
  line-height: var(--font-height-card-title);
  color: var(--font-color-card-title);
}

.card-subtitle {
  margin: 12px 0;
  font-family: var(--font-family-card-subtitle);
  font-weight: var(--font-weight-card-subtitle);
  font-size: var(--font-size-card-subtitle);
  line-height: var(--font-height-card-subtitle);
  color: var(--font-color-card-subtitle);
}

.card-text {
  font-family: var(--font-family-card-text);
  font-weight: var(--font-weight-card-text);
  font-size: var(--font-size-card-text);
  line-height: var(--font-height-card-text);
  color: var(--font-color-card-text);
  overflow-wrap: break-word;
}

.card__button {
  margin-left: -5px;
  margin-top: 20px;
  border: none;
  width: max-content;
  height: max-content;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5px;
  cursor: pointer;
}

.card__button-text {
  font-family: var(--font-family-card-button);
  font-weight: var(--font-weight-card-button);
  font-size: var(--font-size-card-button);
  line-height: var(--font-height-card-button);
  color: var(--font-color-card-button);
}

.card__button-icon {
  fill: var(--fill-color-card-button);
}

.card__button:hover .card__button-text {
  color: var(--font-color-card-button-hover);
}

.card__button:hover .card__button-icon {
  fill: var(--fill-color-card-button-hover);
}

.card__button:focus-visible {
  outline: none;
  background-color: var(--background-color-card-button-focus);
}

.card__button:focus-visible .card__button-text {
  color: var(--font-color-card-button-focus);
}

.card__button:focus-visible .card__button-icon {
  fill: var(--fill-color-card-button-focus);
}

.card__button:active .card__button-text {
  color: var(--font-color-card-button-active);
}

.card__button:active .card__button-icon {
  fill: var(--fill-color-card-button-active);
}

/* СЕКЦИЯ С ПАРТНЕРАМИ */

.partners {
  padding: 90px 165px;
  width: 100%;
  height: max-content;
}

/* СЕКЦИЯ СО СКЕТЧБУКОМ */

.sketchbook {
  padding: 114px 0 114px 165px;
  width: 100%;
  height: max-content;
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 0 165px 0 162px;
  width: 100%;
  height: max-content;
}

/* АДАПТАЦИЯ САЙТА НА ПЛАНШЕТ ШИРИНОЙ 768PX */

@media (width < 1440px) {
  .page {
    width: 768px;
  }

  /* ШАПКА САЙТА */

  .header {
    position: relative;
    padding: 0;
    height: 106px;
  }

  .header__logo {
    position: absolute;
    top: 11px;
    left: 39px;
  }

  .header-line {
    top: 44px;
    left: 0;
    display: block;
  }

  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .header__nav {
    position: absolute;
    top: 63px;
    left: 42px;
    gap: 111px;
  }

  .header__link {
    position: absolute;
    top: 11px;
    right: 28px;
    gap: 18px;
  }

  /* ОСНОВНАЯ ЧАСТЬ САЙТА */

  /* СЕКЦИЯ С ОПИСАНИЕМ САЙТА */

  .cover {
    padding: 65px 339px 65px 39px;
  }

  .cover-title {
    font-size: var(--font-size-cover-title-big-tablet);
  }

  .cover-image {
    top: 60px;
    left: 450px;
    height: 668px;
  }

  /* СЕКЦИЯ С РЕЗУЛЬТАТАМИ */

  .result {
    padding: 60px 39px;
  }

  .result__list-item {
    width: 210px;
    flex-direction: column;
    gap: 0;
  }

  .result__container {
    margin-top: -12px;
    padding: 0;
  }

  .result__content {
    margin-top: 40px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .result__content-image {
    width: 330px;
    height: 256px;
  }

  .result__content-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .result__content-title {
    font-size: var(--font-size-result-title-big-tablet);
  }

  /* СЕКЦИЯ С КАТАЛОГОМ */

  .catalog {
    padding: 60px 39px;
  }

  .catalog__list {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 30px;
  }

  .card {
    width: 330px;
  }

  #box {
    top: 72px;
    left: 47px;
  }

  #tube {
    top: 112px;
    left: 105px;
  }

  #stretch-film {
    top: 98px;
    left: 50px;
  }

  #paper-bag {
    top: 12px;
    left: 52px;
  }

  #briefcase {
    top: 55px;
    left: 55px;
  }

  #folder-with-rubber-band {
    left: 62px;
  }

  #box-white {
    left: 155px;
  }

  /* СЕКЦИЯ С ПАРТНЕРАМИ */

  .partners {
    padding: 60px 39px;
  }

  /* СЕКЦИЯ СО СКЕТЧБУКОМ */

  .sketchbook {
    padding: 60px 399px 60px 39px;
  }

  /* ПОДВАЛ САЙТА */

  .footer {
    padding: 0 39px;
  }
}

/* АДАПТАЦИЯ САЙТА НА ПЛАНШЕТ ШИРИНОЙ 576PX */

@media (width < 690px) {
  .page {
    width: 576px;
  }

  /* ПАТТЕРНЫ */

  .button {
    width: 196px;
    height: 60px;
  }

  /* ШАПКА САЙТА */

  .header {
    position: relative;
    padding: 0;
    height: 104px;
  }

  .header__logo {
    position: absolute;
    top: 12px;
    left: 33px;
  }

  .header-line {
    top: 44px;
    left: 0;
    display: block;
  }

  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .header__nav {
    position: absolute;
    top: 63px;
    left: 33px;
    gap: 51px;
  }

  .header__link {
    position: absolute;
    top: 11px;
    right: 28px;
    gap: 18px;
  }

  /* ОСНОВНАЯ ЧАСТЬ САЙТА */

  /* СЕКЦИЯ С ОПИСАНИЕМ САЙТА */

  .cover {
    padding: 60px 257px 60px 32px;
    gap: 20px;
  }

  .cover-title {
    font-size: var(--font-size-cover-title-small-tablet);
  }

  .cover-text {
    font-size: var(--font-size-cover-text-small-tablet);
  }

  .cover-image {
    top: 20px;
    left: 340px;
    height: 500px;
  }

  /* СЕКЦИЯ С РЕЗУЛЬТАТАМИ */

  .result {
    padding: 60px 33px;
  }

  .result__list-item {
    padding-top: 19px;
    width: 150px;
    flex-direction: column;
    gap: 0;
  }

  .result__list-image {
    width: 150px;
    height: 111px;
  }

  .result__container {
    margin-top: 3px;
    padding: 0;
  }

  .result__container-title {
    font-size: var(--font-size-result-list-title-small-tablet);
  }

  .result__container-text {
    font-size: var(--font-size-result-list-text-small-tablet);
  }

  .result__content {
    margin-top: 40px;
    margin-left: 0;
    flex-direction: column;
    gap: 0;
  }

  .result__content-image {
    width: 330px;
    height: 255px;
  }

  .result__content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .result__content-title {
    font-size: var(--font-size-result-title-small-tablet);
  }

  .result__content-text {
    max-width: 510px;
  }

  .result__content-text span {
    font-size: var(--font-size-result-text-small-tablet);
  }

  /* СЕКЦИЯ С КАТАЛОГОМ */

  .catalog {
    padding: 60px 33px 60px 29px;
  }

  .catalog__list {
    margin-top: -3px;
    margin-left: 3px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }

  .card {
    width: 240px;
  }

  #box {
    top: 68px;
    left: 12px;
  }

  #tube {
    top: 106px;
    left: 70px;
  }

  #stretch-film {
    top: 98px;
    left: 10px;
  }

  #paper-bag {
    top: 18px;
    left: 23px;
    width: 195px;
    height: 315px;
  }

  #briefcase {
    top: 53px;
    left: 46px;
  }

  #folder-with-rubber-band {
    top: 40px;
    left: 30px;
    width: 123px;
    height: 171px;
  }

  #box-white {
    top: 25px;
    left: 110px;
    width: 96px;
    height: 197px;
  }

  .card-title {
    font-size: var(--font-size-card-title-tablet);
  }

  .card-subtitle {
    margin: 8px 0;
  }

  .card-text {
    font-size: var(--font-size-card-text-tablet);
  }

  /* СЕКЦИЯ С ПАРТНЕРАМИ */

  .partners {
    padding: 60px 33px;
  }

  /* СЕКЦИЯ СО СКЕТЧБУКОМ */

  .sketchbook {
    padding: 60px 33px;
  }

  /* ПОДВАЛ САЙТА */

  .footer {
    padding: 0 33px;
  }
}

/* АДАПТАЦИЯ САЙТА НА ТЕЛЕФОН ШИРИНОЙ 320PX */

@media (width < 510px) {
  .page {
    width: 320px;
    font-size: var(--font-size-page-mobile);
  }

  /* ПАТТЕРНЫ */

  .button {
    width: 144px;
    height: 50px;
    font-size: var(--font-size-button-mobile);
  }

  /* ШАПКА САЙТА */

  .header {
    position: relative;
    padding: 0;
    width: 100%;
    height: 105px;
  }

  .header__logo {
    position: absolute;
    top: 13px;
    left: 90px;
  }

  .header-line {
    top: 44px;
    left: 0;
    display: block;
  }

  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .header__menu-button {
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 15px;
  }

  .header__menu-open {
    display: block;
  }

  .header__nav {
    position: absolute;
    z-index: 3;
    top: 44px;
    left: 0;
    padding: 67px 0 88px 15px;
    width: 100%;
    height: 389px;
    background-color: var(--background-color-header-nav-mobile);
    display: none;
    flex-direction: column;
    gap: 50px;
  }

  .header__nav-link {
    font-size: var(--font-size-header-nav-item-mobile);
  }

  .header__link {
    position: absolute;
    top: 62px;
    right: 10px;
    gap: 18px;
  }

  .header__link-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 9px;
  }

  .link-form-show {
    width: 150px;
  }

  /* ОСНОВНАЯ ЧАСТЬ САЙТА */

  /* СЕКЦИЯ С ОПИСАНИЕМ САЙТА */

  .cover {
    padding: 49px 16px 49px 15px;
    gap: 0;
  }

  .cover-title {
    font-size: var(--font-size-cover-title-small-mobile);
  }

  .cover-text {
    margin: 15px 0 21px;
    font-size: var(--font-size-cover-text-small-mobile);
  }

  .cover-image {
    display: none;
  }

  /* СЕКЦИЯ С РЕЗУЛЬТАТАМИ */

  .result {
    padding: 60px 15px;
  }

  .result__list {
    flex-direction: column;
    gap: 20px;
  }

  .result__list-item {
    width: 290px;
    flex-direction: row;
    gap: 30px;
  }

  .result__list-image {
    width: 130px;
    height: 96px;
  }

  .result__container {
    margin-top: 10px;
    padding: 0;
  }

  .result__container-title {
    font-size: var(--font-size-result-list-title-mobile);
  }

  .result__container-text {
    font-size: var(--font-size-result-list-text-mobile);
  }

  .result__content {
    margin-top: 60px;
    margin-left: 0;
    flex-direction: column;
    gap: 20px;
  }

  .result__content-image {
    width: 290px;
    height: 223px;
  }

  .result__content-container {
    margin-top: 0;
    gap: 14px;
  }

  .result__content-title {
    font-size: var(--font-size-result-title-mobile);
  }

  .result__content-text {
    max-width: 332px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .result__content-text span {
    font-size: var(--font-size-result-text-mobile);
  }

  /* СЕКЦИЯ С КАТАЛОГОМ */

  .catalog {
    padding: 60px 15px;
  }

  .catalog__list {
    margin-top: -3px;
    margin-left: 3px;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .catalog__list-item {
    list-style-type: none;
  }

  .catalog__list .catalog__list-item:nth-child(3) {
    margin-top: -2px;
  }

  .catalog__list .catalog__list-item:nth-child(4) {
    margin-top: -10px;
  }

  .card {
    width: 290px;
  }

  #box {
    top: 68px;
    left: 22px;
    width: 109px;
    height: 155px;
    transform: rotate(-30deg);
  }

  #tube {
    top: 110px;
    left: 80px;
    width: 202px;
    height: 98px;
    transform: rotate(-45deg);
  }

  #stretch-film {
    top: 99px;
    left: 20px;
    width: 216px;
    height: 83px;
    transform: rotate(-74deg);
  }

  #paper-bag {
    top: 13px;
    left: 36px;
    width: 217px;
    height: 351px;
  }

  #briefcase {
    top: 52px;
    left: 36px;
  }

  #folder-with-rubber-band {
    top: 40px;
    left: 53px;
    width: 123px;
    height: 171px;
  }

  #box-white {
    top: 20px;
    left: 136px;
    width: 96px;
    height: 197px;
  }

  .card-title {
    margin-top: 24px;
    font-size: var(--font-size-card-title-mobile);
  }

  .card-subtitle {
    margin: 8px 0;
  }

  .card-text {
    font-size: var(--font-size-card-text-mobile);
  }

  .card__button {
    margin-left: -8px;
    margin-top: 30px;
  }

  /* СЕКЦИЯ С ПАРТНЕРАМИ */

  .partners {
    padding: 60px 0 60px 15px;
  }

  /* СЕКЦИЯ СО СКЕТЧБУКОМ */

  .sketchbook {
    padding: 60px 15px;
  }

  /* ПОДВАЛ САЙТА */

  .footer {
    padding: 0 67px;
  }
}
